*{
    margin: 0;
    word-break:keep-all
}

body {
    color: white;
    font-family: Arial;
    background-color: #313338;
}

main {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 25px;
}

nav {
    position: sticky;
    top: 0;
    background-color: #1E1F22;
    height: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: dimgray;
    z-index: 10;
    transform: translateY(-1px)
}

nav div {
    user-select: none;
    display: flex;
    align-items: center;
}

#updateData {
    font-size: 10px;
    text-align: right;
}

p {
    text-align: justify;
    margin-bottom: 30px;
    width: 100%;
}

.bigSpoilerHolder {
    display: flex;
    flex-direction: column;
    column-gap: 500px;
    align-items: center;

}

.bigSpoilerHolder > div  {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px
}

#spoilerDemonstration {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'sdTitle1 sdTitle2'
        'sdContent1 sdContent2';
    column-gap: 100px
}

#sdTitle1 {
    grid-area: sdTitle1;
    text-align: center
}

#sdTitle2 {
    grid-area: sdTitle2;
    text-align: center
}

#spoilerDemonstration img {
    width: 100%;
    aspect-ratio: auto;
    margin-bottom: 30px;
}

#spoilerDemonstration p {
   margin: 0
}

#spoilerDemonstration .normalP {
   margin-bottom: 30px;
}

#spoilerDemonstration .centered {
    text-align: center;
    height: 25px;
    margin: 1px;
}

.bigSpoilerHolder h1 {
    text-align: center;
    margin-top: 50px;
}

.bigSpoilerHolder h1::after, .bigSpoilerHolder h1::before {
    letter-spacing: -2px;
    margin: 10px;
    content: "     ---------     ";
}

.bigSpoilerSection, .bigSpoilerSection button, .spoilerBlock {
    border: dotted 2px #fff;
}

.bigSpoilerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 10px;
    background-color: rgba(221,62,42,0.3);
    transition: 1s;
    border-radius: 12px
}

.exceptions {
    background-color: rgba(116,242,89,0.3)
}

.bigSpoilerSection button {
    margin: auto;
    width: 90px;
    cursor: pointer;
    background: none;
    color: white;
    transition: 0.2s
}

.bigSpoilerSection button:hover {
    background-color: rgba(255,255,255,0.3);
    transform: rotate(2deg);
}

.spoilerBlock {
    display: none;
    margin-top: 12px;
    padding: 5px;
    padding-right: 15px;
    transition: 1s;
    transform: scale(0);
}

.spoilerBlock ul {
    padding-left: 20px;
    list-style: inside;
}

.spoilerBlock ul ul{
     padding-left: 40px;
    list-style: square;
}

ul li {
    margin-bottom: 3px;
    margin-top: 3px;
}

ul ul li {
    margin-bottom: 3px;
}

.spoilerShown {
    display: block;
    animation: strechIn 0.3s;
    border-radius: 12px;
    transform: scale(1.0,1.0)
}

@keyframes strechIn {
    0% {
        height: 0px;
        transform: scale(1.0,0.0);
    }
    100% {
        height: 100%;
        transform: scale(1.0,1.0);
    }
}

h1 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 30px;
}

.fakePingName {
    background-color: #3A406E;
    color: #C9CDF2;
    padding: 3px;
    border-radius: 4px;
    user-select: none;
    width:fit-content;
}

.fakePingName:hover {
    background-color: #5865F2;
    color: #fff;
}

.logoImage {
    object-fit: scale-down;
    width: 150px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.excludedChannelList {
    text-align: center;
}

.singleRowSpoiler {
    grid-column-start: span 2;
}

.fakeSpoiler {
    width: auto;
    height: 25px;
    background-color: #1E1F22;
    border-radius: 5px;
    color: transparent;
    user-select: none;
    display: inline-block
}

.fakeSpoilerShown {
    width: auto;
    height: 25px;
    background-color: #414348;
    border-radius: 5px;
    color: white;
    display: inline-block
}

.fakeSpoiler:hover {
    cursor: pointer;
    background-color: #212326
}

@media screen and (max-width: 600px) {
    .bigSpoilerHolder > div {
        grid-template-columns: 1fr;
        row-gap: 30px
    }

    .bigSpoilerHolder > div {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 30px
    }

    h2 {
        font-size: 25px;
    }

    #spoilerDemonstration {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: 'sdTitle1'
            'sdContent1'
            'sdTitle2'
            'sdContent2';
        row-gap: 30px
    }

    .bigSpoilerSection button:hover {
        background-color: rgba(255,255,255,0.0);
        transform: rotate(0deg);
    }

    .excludedChannelList .fakePingName {
        display: inline-block;
        background-color: #3A406E;
        color: #C9CDF2;
        border-radius: 4px;
        padding: 2px;
        user-select: none;
        width: fit-content;
        margin: 1px
    }

    .excludedChannelList .fakePingName:hover {
        background-color: #5865F2;
        color: #fff;
    }


    .bigSpoilerHolder h1::after, .bigSpoilerHolder h1::before {
        letter-spacing: 0px;
        margin: 0px;
        content: "";
    }

}

